<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#/!"><i class="fa fa-medkit" aria-hidden="true"></i> VS</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#/!"><i class="fa fa-home"></i> Home</a></li>
                        <li class="dropdown">
                          <a href=""><i class="fa fa-plus"></i> Adicionar Queixa</a>
                          <div class="dropdown-content">
                            <div><a href="#!/complaint/register/food"><i class="fa fa-plus"></i> Queixa Alimento</a></div>
                            <div><a href="#!/complaint/register/animal"><i class="fa fa-plus"></i> Queixa Animal</a></div>
                          </div>
                        </li>
                        <li class="dropdown">
                          <a href=""><i class="fa fa-search"></i>Search</a>
                          <div class="dropdown-content">
                            <div><a href="#!search_health_unit"><i class="fa fa-search"></i> Consultar Unidade de Saúde Por Bairro</a></div>
                            <div><a href="#!search_health_unit_specialty"><i class="fa fa-search"></i> Consultar Unidade de Saúde Por Especialidade</a></div>
                            <div><a href="#!search_complaint"><i class="fa fa-search"></i> Pesquisar Queixa</a></div>
                          </div>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="permissaoAdmin" class="dropdown">
                          <a href=""><i class="fa fa-user"></i>Admin Tools</a>
                          <div class="dropdown-content">
                            <div><a href="#!generalSituationComplaints"><i class="fa fa-pie-chart"></i>Situação geral das queixas</a></div>
                            <div><a href="#!search_average"><i class="fa fa-search"></i> Pesquisar Média Médico por Paciente</a></div>
                            <div><a href="#!change_complaint_status"><i class="fa fa-pencil-square-o"></i>Queixa Status</a></div>
                            <div><a href="#!register_health_unit"><i class="fa fa-plus"></i>Unidade de Saúde</a></div>
                            <div><a href="#!change_townhall_status"><i class="fa fa-institution"></i>Prefeitura</a></div>
                          </div>
                        </li>
                        <li ng-show="!permissaoAdmin">
                          <a  href="#!login" ><i class="fa fa-sign-in"></i>Login</a>
                        </li>
                        <li ng-show="permissaoAdmin" ng-click="doLogout()">
                          <a href="" ><i class="fa fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
