<div class="container center-block">
         <form name="complaintForm">
            <div class="col-md-5 col-md-offset-3">
                <fieldset>
                    <legend>Dados da Unidade de Saúde</legend>
                    <!--Description field-->
                    <div class="form-group row">
                        <label for="inputDescription" class="col-sm-2 col-form-label">Descrição:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="inputDescription" ng-model="unit.descricao"></textarea>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                  <legend>Endereço doa Unidade de Saúde</legend>
                  <!--Street field-->
                  <div class="form-group row">
                      <label for="inputStreet" class="col-sm-2 col-form-label">Rua:</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" name="street" id="inputStreet" ng-model="unit.endereco.rua">
                      </div>
                  </div>
                  <!--City field-->
                  <div class="form-group row">
                      <label for="inputCity" class="col-sm-2 col-form-label">Bairro:</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" name="city" id="inputCity" ng-model="unit.endereco.cidade">
                      </div>
                  </div>
                  <!--UF field-->
                  <div class="form-group row">
                      <label for="inputUf" class="col-sm-2 col-form-label">Cidade:</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" name="uf" id="inputUf" ng-model="unit.endereco.uf">
                      </div>
                  </div>
                  <div class="form-group row">
                  <div class="col-sm-10">
                  <form>
                    <label >Tipo de Unidade: </label>
                    <input type="radio" name="content" ng-model="unit.type" value="posto"> Posto
                    <input  type="radio" name="content" ng-model="unit.type" value="hospital"> Hospital
                  </form>
                </div>
                  <div class="col-sm-10">
                    <label for="atendentes">Atendentes:</label>
                    <input id="atendentes" ng-model="unit.atendentes"></input>

                    <label for="taxaAtendimentos" >Taxa Diária de Atendimentos:</label>
                    <input id="taxaAtendimentos" ng-model="unit.taxaDiariaAtendimentos"></input>
                  </div>
                    <div ng-show="unit.type == 'hospital'">
                      <div class="col-sm-10">
                        <form>
                          <label >Especialidades: </label>
                          <label ng-repeat="especialidade in especialidades">
                            <input
                              type="checkbox"
                              name="selectedEspecialidades[]"
                              value="{{especialidade}}"
                              ng-checked="selection.indexOf(especialidade) > -1"
                              ng-click="toggleSelection(especialidade)"
                            > {{especialidade}} </input><br>
                          </label>
                        </form>
                      </div>
                    </div>
                  </div>
                  </fieldset>
                  <button class="btn btn-primary btn-block" ng-click="registerUnit(unit)">Adicionar Unidade</button>
                </div>
        </form>
    </div>
</div>
