html, body{
    height: 100%;
}

body {
    min-height: 100%;
}

.container {
    position: relative;
    padding-bottom: 5px;
}

footer {
    max-height: 5px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.message-error {
    color: red;
}